.loader-wrapper{
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

}
.loader{
  background-color: green;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin: 1vw;
  animation: mymove 1s linear infinite;
}
@keyframes mymove {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(0);
  }
}

.loader:nth-child(1){
  background-color: #4285F4;
  animation-delay: 0.2s;
}
.loader:nth-child(2){
  background-color: #DB4437;
  animation-delay: 0.6s;
}
.loader:nth-child(3){
  background-color: #F4B400;
  animation-delay: 0.4s;
}
.loader:nth-child(4){
  background-color: #0F9D58;
  animation-delay: 0.8s;
}
body{
  text-align: center;
  background-color: #0c2431;
  background-color: teal;
  color: #dfdbd8;
}
/* body::after {
  content: "";
  background: url("http://cdn.wallpapername.com/1680x1050/20121112/artwork%20tic%20tac%20toe%201680x1050%20wallpaper_www.wallpapername.com_69.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
} */
.heading{
  padding: 1vw;
  font-family: 'Bungee', cursive;
  text-shadow: 5px 5px 8px  #636c6e;
}
.scores{
  max-width: 45vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5vw;
  margin-top: 15px;
}
.scores h5{
  font-size: 2.5vw;
  padding: 10px;
  color: #0c2431;
  font-family: 'Bungee';
}


.board{
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: #C3B091; */
  border-radius: 10%;;
  margin: 0 auto;
  text-align: center;
  width: 45vh;
  height: 45vh;
}
.content{
  text-align: center;
}
.box{
  border: 1px solid #dfdbd8;
}
.box:hover{
  cursor: pointer;
}
.box:nth-child(3n+1){
  border: 1px solid #dfdbd8;
  border-left: none;
}
.box:nth-child(3n+2){
  border: 1px solid #dfdbd8;
}
.box:nth-child(3n){
  border: 1px solid #dfdbd8;
  border-right: none;
}
.box:first-child,.box:nth-child(2),.box:nth-child(3){
  border-top: none;
}
.box:nth-child(7),.box:nth-child(8),.box:last-child{
  border-bottom: none;
}
.box:first-child{
  border-top-left-radius: 28%;
}
.box:nth-child(3){
  border-top-right-radius: 28%;
}
.box:nth-child(7){
  border-bottom-left-radius: 28%;
}
.box:last-child{
  border-bottom-right-radius: 28%;
}

.box:hover{
  background-color: #0c2431;
}
.disabled{
  pointer-events: none;
}

.X{
  background-image: url("../src/images/close.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.O{
  background-image: url("../src/images/rec.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.heading{
  font-size: 4vw;
}
.rounds{
  color: #0c2431;
  font-size: 2.5vw;
  display: inline-block;
  padding: 0vw 7vw;
  font-family: 'Cinzel', serif;
  font-weight: bolder;
}

.fullContainer{
  margin: 1%;
  padding: 2%;
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: relative;
  top: 10vh; */
}
.topContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.modalheading{
  color: #fff;
  font-family: 'Pacifico', cursive;
  text-shadow: 5px 5px 8px  #636c6e;
}
.modal-content{
  background-color: inherit;
  border: none;
}
.modal-footer{
  justify-content: center;
  border-top: none;
}

@media screen and (max-width: 768px) {
  .scores h5{
    font-size: 5vw;
  }
}
@media screen and (min-width:768px) and (max-width: 1024px) {
  .scores h5{
    font-size: 3.5vw;
  }
}
@media screen and (max-width: 425px) {
  body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .board{
    width: 35vh;
    height: 40vh;
  }
  .scores{
    width: 35vh;
  }
  .fullContainer{
    /* position: relative;
    top: 10vh; */
    margin: auto;
  }
  .heading{
    font-size: 15vw;
  }
  .rounds{
    font-size: 5vw;
  }
}
@media screen and (min-width:426px) and (max-width:768px) {
  .board{
    width: 40vh;
    height: 40vh;
  }
  .fullContainer{
    position: relative;
    top: 3vh;
  }
  .heading{
    font-size: 8vw;
  }
  .rounds{
    font-size: 6.5vw;
  }
  .scores{
    width: 40vh;
  }
}
@media screen and (min-width:769px) and (max-width:1000px) {
  .board{
    width: 40vh;
    height: 40vh;
  }
  .scores{
    width: 40vh;
  }
  /* .fullContainer{
    position: relative;
    top: 15vh;
  } */
  .heading{
    font-size: 6vw;
  }
  .rounds{
    font-size: 4.5vw;
  }
}
.btn-brown{
  position: relative;
}
.btn-brown::after{
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: " ";
  background-color: #fff;
  width: 100%;
  height: 3px;
}
.bottomrestart,.restartbtn{
  background-color: transparent;
  color: #0c2431;
  border: none;
}

.bottomrestart{
  position: relative;
  top: 2vh;
  visibility: hidden;
  color: white;
}
.bottomrestart:hover , .restartbtn:hover,.enter:hover{
  background-color: #fff;
  color: teal;
  font-weight: bolder;
  letter-spacing: 2px;
  transition: 0.3s;
}
.enter:hover{
  color: #fff;
  background-color: teal;
  border-color: #fff;
}
.mainmodal{
  text-align: justify;
  /* #292b2c */
  background-color: #dfdbd8;
  color: #0c2431;
  border-radius: 30px;
  margin: 1vw;
  font-family: 'Patua One', cursive;
}
.secondarymodal{
  background-color: #dfdbd8;
}
.secondarymodal h3{
  color: #0c2431;
}
.secondarymodalheading{
  color: #0c2431;
}
.content{
  padding: 1vw;
}
.mainmodal h3,.secondarymodal h3, .enter{
  text-align: center;
  border-radius: 30px;
  padding: 1vw;
  font-family: 'Bungee', cursive
}
.mainmodalbody{
  padding-bottom: 0px;
}
.mainmodalfooter{
  padding-top: 0px;
}
